.header {
  padding: 1rem 2rem;
  background-color: lightgray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin: auto;
  max-width: 400px;
}

.container {
  padding: 1rem 2rem;
}
