.header {
  padding: 1rem 2rem;
  height: 4rem;
  background-color: lightgray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin: auto;
  max-width: 400px;
}

.label {
  padding: 1rem 2rem;
}

.container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoList {
  padding-left: 1rem;
  align-self: baseline;
}
